html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 10%;
    background-color: rgb(45, 82, 204);
    padding: 10px 20px 0px;
    font-size: 10px;
    
}
.header {
    background-color: rgb(252, 252, 252);
    min-height: 150px;
    
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(45, 82, 204);
    min-height: 150px;
}

a{
    text-decoration: none;
    color: #f1f1f1;
}

table, th, td{
    border: 1px solid;
}

table tr:nth-child(even) {
    background-color: rgb(240, 140, 206);
}
table tr:hover td {
    background-color: rgb(253, 203, 66);
}